# NPM packages
node_modules/

# Buidler files
cache/
artifacts/*

# Deployment
deployments/localhost/

# Solidity coverage files
coverage.json
coverage/
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/

# env files
.env

# npm
.npmrc

# yarn
.yarnrc
yarn-debug.log*
yarn-error.log*

# subgraph
subgraph.yaml
**/subgraph/generated
subgraph/build

# vim
*.swp
