# NPM packages
node_modules/

# Buidler files
cache/
artifacts/*

# Solidity coverage files
coverage.json
coverage/
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/

# env files
.env
/alpha.env
/alpha.env.kovan
/alpha.env.mainnet

# npm
.npmrc

# yarn
.yarnrc
yarn-debug.log*
yarn-error.log*

# subgraph
subgraph.yaml
**/subgraph/generated
subgraph/build

# lint
.eslintcache

# vim
*.swp
*.swo

# cloned chainlink repo
/chainlink-tvl-adapter
